html {
    scroll-behavior: smooth;
}
#top {
    scroll-behavior: smooth;
}
header {
    justify-content: space-between;

}
*{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}
.List {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 16px;
    background-color: #24252A;
    text-align: center;
    list-style-type: none;
    padding: 20px;
    
}
.List li {
    display: inline-block;
}
.List li a {
    color: #fff;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding: 5px 20px;
    
}
.List li a:hover {
    color: #0088a9;
}

body {
    background-color: #DBDCDA;
}
a {
    color: #4B4B4B;
    text-decoration: none;
}
h1 {   
    text-align: center;
    color: #4B4B4B;
    font-family: "Roboto Mono", monospace;
    font-size: 2rem;
}
h2 {
    text-align: center;
    color: lightslategrey;
    font-size: 1rem;
    font-family: "Roboto Mono", monospace;
}  
p {
    font-family: "Roboto Mono", monospace;
}

.links{
    float: left;
    list-style-type: none;
    margin-top: 25px;

}
.links li{
    display: inline-block;
}
ul li img{
    width: 50px;
    height: 50px;
    margin: 5px;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
ul li img:hover {
    opacity:0.3;
}
div.content {
    background-position: center;
    background-color: white;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    height: 200px;
    width: 60%;
    margin-left: 40px; 
    margin-bottom: 40px;
    float: left;
}

.contentleft {
    
    margin-right: 40px;
    background-color: white;
    background-position: center;
    width: 30%;
    height: 80px;
    float: right;
}
.header {
    text-align: center;
    background-position: center;
    background-color: #F9F9F9;
    height: 350px;
    width: 100%;

}
.headerimg {
    border-radius: 50%;
    float: left;
    margin: auto 50px;
    width: 250px;
    height: 250px;
    padding: 10px;
   
}
.contacts {
    display: table;
    margin: 0 auto;
    line-height: 1.5;
    list-style: none;
}

.email {
    background: url(./email2.png) left center no-repeat;
    padding-left: 40px;
}
.contacts img {
    width: 20px;
    height: 20px;
}
.degree {
    background: url(./degree2.png) left center no-repeat;
    padding-left: 40px;
    color: lightseagreen;
    font-weight: bold;
}
.project {
    background-position: center;
    background-color: white;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    height: 1200px;
    width: 60%;
    margin-left: 40px; 
    float: left;

}
.Ptext {
    color: lightseagreen;
    font-size: 20px;

}
.Lockedimg {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 250px;
    
    
}
.Education {
    margin-right: 40px;
    margin-top: 25px;
    background-color: white;
    background-position: center;
    text-align: center;
    width: 30%;
    height: 220px;
    float: right;
    text-align: center;

}
.languages {
    margin-right: 40px;
    margin-top: 25px;
    background-color: white;
    background-position: center;
    text-align: center;
    width: 30%;
    height: 250px;
    float: right;
    text-align: center; 

}
.programming {
    display: table;
    margin: 0 auto;
    line-height: 1.5;
    list-style: none;

}
.python {
    background: url(pythonimgresized.png) left center no-repeat;
    background-size: auto;
    padding-left: 40px;
    color: lightseagreen;
    font-weight: bold;

}
.c {
    background: url(./c-logo_25x25.png) left center no-repeat;
    padding-left: 40px;
    color: lightseagreen;
    font-weight: bold;

}
.html {
    background: url(./html_25x30.png) left center no-repeat;
    padding-left: 40px;
    color: lightseagreen;
    font-weight: bold;

}
.css {
    background: url(./css_1_30x30.png) left center no-repeat;
    padding-left: 40px;
    color: lightseagreen;
    font-weight: bold;

}
.css-button-3d--green {
    text-decoration: none;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #80ed99;
    box-shadow: 0 5px #57cc99;
    text-align: center;
    vertical-align: middle;
    margin: 40px;
    
    line-height: 40px;
  }
  .css-button-3d--green:hover {
    text-decoration: none;
    box-shadow: 0 3px #57cc99;
    top: 1px;
  }
  .css-button-3d--green:active {
    text-decoration: none;
    box-shadow: 0 0 #57cc99;
    top: 5px;
}
.css-button-3d--sand {
    color: inherit;
    text-decoration: none;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #ced4da;
    box-shadow: 0 5px #adb5bd;
    margin: 40px;
    line-height: 40px;
  }
  .css-button-3d--sand:hover {
    box-shadow: 0 3px #adb5bd;
    top: 1px;
  }
  .css-button-3d--sand:active {
    box-shadow: 0 0 #adb5bd;
    top: 5px;
  }
