html {
    scroll-behavior: smooth;
}
section
#top {
    scroll-behavior: smooth;
}
header {
    justify-content: space-between;

}
*{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}
.List {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 16px;
    background-color: #24252A;
    text-align: center;
    list-style-type: none;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%; /* Full width */
    height: 2%;
    z-index: 100;
    
}
.List li {
    display: inline-block;
}
.List li a {
    color: #fff;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding: 5px 20px;
    
}
.List li a:hover {
    color: #0088a9;
}
#linkedin_icon {
    opacity: 0.75;
}
#linkedin_icon:hover {
    opacity: 0.3;

}
body {
    background-color:  #DBDCDA;
}
a {
    color: #4B4B4B;
    text-decoration: none;
}
h1 {   
    text-align: center;
    color: #4B4B4B;
    font-family: "Roboto Mono", monospace;
    font-size: 2rem;
}
h2 {
    text-align: center;
    color: lightslategrey;
    font-size: 1rem;
    font-family: "Roboto Mono", monospace;
}  
p {
    font-family: "Roboto Mono", monospace;
}

.links{
    float: left;
    list-style-type: none;
    margin-top: 25px;

}
.links li{
    display: inline-block;
}
ul li img{
    width: 50px;
    height: 50px;
    margin: 5px;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
ul li img:hover {
    opacity:0.3;
}
div.content {
    background-position: center;
    background-color: white;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    height: 200px;
    width: 55%;
    margin-left: 7%;
    margin-right: 2%;
    margin-bottom: 20px;
    float: left;
}

.contentleft {
    
    margin-right: 40px;
    background-color: white;
    background-position: center;
    width: 30%;
    height: 80px;
    float: right;
}
.header {
    text-align: center;
    background-position: center;
    background-color: #F9F9F9;
    height: 370px;
    width: 100%;

}
.headerimg {
    border-radius: 50%;
    float: left;
    margin: auto 50px;
    width: 250px;
    height: 250px;
    padding: 10px;
   
}
.contacts {
    display: table;
    margin: 0 auto;
    line-height: 1.5;
    list-style: none;
}

.email {
    background: url(./Images/email.png) left center no-repeat;
    padding-left: 40px;
    background-size: 30px;
    background-size: 18% 100%;
}
.contacts img {
    width: 20px;
    height: 20px;
}
.degree {
    background: url(./Images/education_logo.png) left center no-repeat;
    padding-left: 40px;
    background-size: 10px;
    color: lightseagreen;
    font-weight: bold;
    background-size: 10% 100%;
}
.project {
    background-position: center;
    background-color: white;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    height: 2500px;
    width: 55%;
    margin-left: 7%;
    margin-right: 2%;
    float: left;

}
.Ptext {
    color: lightseagreen;
    font-size: 20px;

}
.Lockedimg {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 250px;
    
    
}
.Education {
    margin-right: 40px;
    margin-top: 25px;
    background-color: white;
    background-position: center;
    text-align: center;
    width: 30%;
    height: 220px;
    float: right;
    text-align: center;

}
.languages {
    margin-right: 40px;
    margin-top: 25px;
    background-color: white;
    background-position: center;
    text-align: center;
    width: 30%;
    height: 370px;
    float: right;
    text-align: center; 

}
.programming {
    display: table;
    margin: 0 auto;
    line-height: 1.5;
    list-style: none;

}
.python {
    background: url(./Images/python.png) left center no-repeat;
    background-size: 30px;
    background-size: auto;
    padding-left: 40px;
    color: lightseagreen;
    font-weight: bold;
    background-size: 30% 100%;

}
.c {
    background: url(./Images/c.png) left center no-repeat;
    padding-left: 40px;
    background-size: 30px;
    color: lightseagreen;
    font-weight: bold;
    background-size: 25% 100%;

}
.html {
    background: url(./Images/html.png) left center no-repeat;
    padding-left: 40px;
    background-size: 30px;
    color: lightseagreen;
    font-weight: bold;
    background-size: 25% 100%;

}
.css {
    background: url(./Images/css.png) left center no-repeat;
    padding-left: 40px;
    background-size: 30px;
    color: lightseagreen;
    font-weight: bold;
    background-size: 25% 100%;

}
.MIPS {
    background: url(./Images/assembly.png) left center no-repeat;
    padding-left: 40px;
    background-size: 30px;
    color: lightseagreen;
    font-weight: bold;
    background-size: 25% 100%;
}
.Java {
    background: url(./Images/java_icon.png) left center no-repeat;
    background-size: 30px;
    padding-left: 40px;
    color: lightseagreen;
    font-weight: bold;
    background-size: 30% 100%;

}
.css-button-3d--green {
    text-decoration: none;
    min-width: 130px;
    height: 45px;
    color: darkslategray;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #80ed99;
    box-shadow: 0 5px #57cc99;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    
    line-height: 40px;
  }
  .css-button-3d--green:hover {
    text-decoration: none;
    box-shadow: 0 3px #57cc99;
    top: 1px;
  }
  .css-button-3d--green:active {
    text-decoration: none;
    box-shadow: 0 0 #57cc99;
    top: 5px;
}
.css-button-3d--sand {
    color: inherit;
    text-decoration: none;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #ced4da;
    box-shadow: 0 5px #adb5bd;
    margin: 40px;
    line-height: 40px;
  }
  .css-button-3d--sand:hover {
    box-shadow: 0 3px #adb5bd;
    top: 1px;
  }
  .css-button-3d--sand:active {
    box-shadow: 0 0 #adb5bd;
    top: 5px;
  }
.Contactme {
    display: flex;
    justify-content: center;
    background-position: center;
    background-color: #DBDCDA;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.container {
    margin: 0 auto;
    font-family: 'Exo 2', sans-serif;
    
}
.form-email {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    margin: 0 auto;
}
.form-email input {
    border: 1px solid #000;
    width: 100%;
    margin: top 5px;
}
.form-email label {
    font-family: "Roboto Mono", monospace;
}
#firstname {
    border: 2px solid lightseagreen;
    font-size: medium;
    padding: 10px;
    font-family: "Roboto Mono", monospace;
    border-radius: 5px;
    width: 45%;
}

#lastname {
    border: 2px solid lightseagreen;
    font-size: medium;
    padding: 10px;
    font-family: "Roboto Mono", monospace;
    border-radius: 5px;
    width: 45%;

}
#email {
    border: 2px solid lightseagreen;
    font-size: medium;
    padding: 10px;
    font-family: "Roboto Mono", monospace;
    border-radius: 5px;
    width: 45%;
}
#message {
    width: 45%;
    border: 2px solid lightseagreen;
    border-radius: 25px;
    padding: 10px;
    font-size: medium;
    background-color: white;

}
button[type = "Submit"] {
    width: 45%;
    background-color: #232b2b;
    color: white;
    font-family: "Roboto Mono", monospace;
    transition: 0.3s ease background-color;
    font-size: 20px;
    border-radius: 10px;
}
button[type = "Submit"]:hover {
    transition: 0.3s;
    background-color: lightseagreen;
    color: #232b2b;
}
label {
    font-family: 'Exo 2', sans-serif;
}
.requestresume {
    text-align: center;
}
.make_request {
    text-align: center;

}
.make_request:hover {
    color: #0088a9;
}
.links_about {
    display: table; 
    margin: 0 auto;
    list-style-type: none;
    margin-top: 25px;
}
.contact_container {
    width: 60%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0,0,0.2);
    margin: 0 auto;
    height: 720px;
    background-repeat: no-repeat;
    background-position: center;
}
.gif {
    width: 90%;
    height: 500px;
    border: 5px solid #0088a9;
}
.project_info {
    background-position: center;
    background-color: white;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    height: 2000px;
    width: 80%;
    margin-left: 200px;
}
.project_game_img {
    width: 75%;
    height: 600px;
    border: 3px solid #474747;

}
#introduction {
    padding: 10px;
    white-space: pre-line;
}
.wiki_slider {
    width: 100%;
    margin-top: -80px;
    margin-bottom: -80px;
    height: 700px;
    overflow: hidden;
}
.images {
    width: 500%;
    height: 100%;
    display: flex;
    align-items: center;
}
.images input {
    display: none;
}
.image {
    width: 20%;
    transition: 2s;
}
.image img {
    width: 90%;
    height: 500px;
    align-items: center;
}
.manual {
    position: relative;
    width: 900px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}
.manual_button {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin: 10px;
    padding: 5px;

    position:absolute;
    z-index: 20;
}
.manual_button:not(:last-child) {
    margin-right: 40px;
}
.manual_button:hover {
    background:#F9F9F9;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
.prev, .next {
    cursor: pointer;
    top: 20%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: grey;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
#marshmallow {
    padding: 10px;
}
#fanpage {
    padding: 10px;
}
#python_lang {
    display:inline;
    background: url(./Images/python.png) no-repeat;
    background-size: 30px;
    background-size: 2% 100%;
}